@keyframes changeShape {
    from{
        border-radius: 0%;
    }
    
    to{
        rotate: 360deg;
        border-radius: 50%;
        scale: 0.5;
        translate: 150px;
    }
}

div{
    height: 200px;
    width: 200px;
    background-color: aqua;
    position: absolute;
    top: 20%;
    left: 20%;
    animation: changeShape 1s ease-in-out infinite alternate;
}

div:hover